1.Conditional Basics

Prompt the user for a day of the week, print out whether the day is Monday or not

Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

The number of hours worked in one week
The hourly rate
For calculating pay:

For working 40 hours or less, each hour is paid at the hourly rate
For working more than 40 hours

the first 40 hours are paid at the hourly rate

each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [ ]:
#teacher way

In [ ]:
user_day = input("Enter a day of the week: ").capitalize()
if user_day == "Monday":
    print("It's Monday!")
else:
    print(f"It's not Monday. It's {user_day}.")

Enter a day of the week: Monday
It's Monday!

In [ ]:
if user_day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]:
    print(f"{user_day} is a weekday.")
else:
    print(f"{user_day} is a weekend day.")

Monday is a weekday.

In [1]:
hrs_worked = 70
hourly_pay = 45.00


if hrs_worked > 40:
    ot_hrs = hrs_worked - 40 # gets overtime hrs
    ot_pay = ot_hrs * hourly_pay * 1.5 # gets overtime pay
    reg_pay = 40 * hourly_pay
    pay = ot_pay + reg_pay
    
else:
    pay = hrs_worked * reg_pay

print(pay)

3825.0

Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [ ]:
i = 5 
while i <= 15:
    print(i)
    i +=1

5
6
7
8
9
10
11
12
13
14
15

Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [ ]:
i = 0
while i <= 100:
    print(i)
    i +=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

In [1]:
i = 2 
while i < 1000000:
    print(i)
    i = i*i

2
4
16
256
65536

Write a while loop that uses print to create the output shown below.

In [5]:
i = 100
while i < 100:
    print(i)
    i -=5

Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [1]:
num = 7

for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [57]:
for i in range(1,10):
    for s in range(i):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [12]:
for n in range (50):
    if n % 2 == 0:
        print(f'Here is an odd number: {n}')
    if n == 27:
        print(f'skip a number: {27}') 
        continue

Here is an odd number: 0
Here is an odd number: 2
Here is an odd number: 4
Here is an odd number: 6
Here is an odd number: 8
Here is an odd number: 10
Here is an odd number: 12
Here is an odd number: 14
Here is an odd number: 16
Here is an odd number: 18
Here is an odd number: 20
Here is an odd number: 22
Here is an odd number: 24
Here is an odd number: 26
skip a number: 27
Here is an odd number: 28
Here is an odd number: 30
Here is an odd number: 32
Here is an odd number: 34
Here is an odd number: 36
Here is an odd number: 38
Here is an odd number: 40
Here is an odd number: 42
Here is an odd number: 44
Here is an odd number: 46
Here is an odd number: 48

fizzbuzz

In [2]:
for num in range(1,101):
    string = ""
    if num % 3 == 0:
        string = string + "Fizz"
    if num % 5 == 0:
        string = string + "Buzz"
    if num % 5 != 0 and num % 3 != 0:
        string = string + str(num)
    print(string)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [92]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"^",i+1,"=",n**i)
input = input("Do you want to continue (yes/no)? ").lower()
if user_input != "yes":
        break

Enter the number to print the tables for:3
3 ^ 2 = 3
3 ^ 3 = 9
3 ^ 4 = 27
3 ^ 5 = 81
3 ^ 6 = 243
3 ^ 7 = 729
3 ^ 8 = 2187
3 ^ 9 = 6561
3 ^ 10 = 19683
3 ^ 11 = 59049
Do you want to continue (yes/no)? no

SyntaxError: 'break' outside loop (2265671042.py, line 6)

In [ ]:
cont = 'yes'

while cont == 'yes':
    numb = int(input('Enter an integer: '))

    print(f'number | squared | cubed')
    print(f'-------|---------|-----')

    for i in range(1,numb+1):
           
        print(f'{i:<7}|{i**2}        |{i**3} ')
        
    cont = input('Would you like to continue (yes/no)?')

Convert given number grades into letter grades.

Prompt the user for a numerical grade from 0 to 100
Display the corresponding letter grade
Prompt the user to continue
Assume that the user will enter valid integers for the grades
The application should only continue if the user agrees to
Grade Ranges:

A : 100 - 88
B : 87 - 80
C : 79 - 67
D : 66 - 60
F : 59 - 0

In [ ]:
def numerical_to_letter_grade(grade):
    if 88 <= grade <= 100:
        return "A"
    elif 80 <= grade <= 87:
        return "B"
    elif 67 <= grade <= 79:
        return "C"
    elif 60 <= grade <= 66:
        return "D"
    elif 0 <= grade <= 59:
        return "F"

while True:
    try:
        numerical_grade = int(input("Enter a numerical grade (0-100): "))
        if 0 <= numerical_grade <= 100:
            letter_grade = numerical_to_letter_grade(numerical_grade)
            print(f"The corresponding letter grade is: {letter_grade}")
        else:
            print("Please enter a valid numerical grade between 0 and 100.")
    except ValueError:
        print("Invalid input. Please enter a valid numerical grade.")
    
    user_input = input("Do you want to continue (yes/no)? ").lower()
    if user_input != "yes":
        break

Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.

Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [ ]:
books = [
    #{key:value, key:value, key:value}
    {'title':'parable of the sower', 'author':'octavia butler', 'genre':'sci fi'},
    {'title':'think and grow rich', 'author':'napoleon hill', 'genre':'self help'},
    {'title':'1984','author':'george orwell','genre':'fiction'},
    {'title':'Don Quixote', 'author':'Miguel de Cervantes', 'genre':'comedy'},
    {'title':'Gone with the Wind', 'author':'Margaret Mitchell', 'genre':'romance'},
    {'title': 'Farenheit 451', 'author':'Ray Bradbury', 'genre': 'sci fi'},
    {'title': 'The Giver', 'author': 'Lois Lowry', 'genre': 'sci fi'}

In [ ]:
for book in books:
    print(book)

In [ ]:
books['title']

In [ ]:
books[7]

In [ ]:
books[6]

In [ ]:
genre_input = input('Enter a genre: \n\n')

for book in books:
    # print(book) #print out each book aka each dictionary separately
    # print(book['genre']) #have to call the key to get back its value
    if genre_input.lower() == book['genre']:
        print(book['title'])
    else:
        pass

In [ ]:
books